{% extends "base.html" %}

{% block content %}
<div>
    <h2>ASSIGN TABLE</h2>
    <form action="{{ url_for('.index') }}" method="post">
        {{ assign_table.hidden_tag()  }}
        <div>{{ assign_table.tables.label }} {{ assign_table.tables }}</div>
        <div>{{ assign_table.servers.label }} {{ assign_table.servers }}</div>
        <div>{{ assign_table.assign }}</div>
    </form>
</div>

<div>
    <h2>YOUR OPEN ORDERS</h2>
    <ul>
        {% for order in your_orders %}
            <li>
                Table {{ order.table_id }}
                <form action="/orders/{{ order.id }}/close" method="post">
                    {{ close_table.hidden_tag() }}
                    <div>{{ close_table.table }} {{ close_table.submit }}</div>
                </form>
            </li>
        {% endfor %}
    </ul>
</div>
<div>
    <form method="POST">
        {{ add_items.hidden_tag() }}

        <label for="menu_items">Select Menu Items:</label>
        <select name="menu_items" id="menu_items" multiple>
            {% set current_type = None %}
            {% for item in items %}
                {% if current_type != item.type.name %}
                    {% if not loop.first %}</optgroup>{% endif %}
                    <optgroup label="{{ item.type.name }}">
                    {% set current_type = item.type.name %}
                {% endif %}
                <option value="{{ item.id }}"
                {% if add_items.menu_items.data and item.id in add_items.menu_items.data %}
                selected
                {% endif %}>
                    {{ item.name }}
                </option>
            {% endfor %}
            </optgroup>
        </select>

        <br><br>

        <label for="order">Select Order:</label>
        {{ add_items.order() }}

        <br><br>

        {{ add_items.submit() }}
    </form>
</div>
{% endblock content%}
